# Include C++ source files
include src/cpp/*.cpp
include src/cpp/*.hpp
include src/cpp/*.h

# Include other necessary files
include LICENSE.txt
include README.md
include Makefile
include build.sh
include build_unix.sh
include build_windows.bat